# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environments
.env
.venv
venv/
ENV/
env/

# Node.js / Next.js / Frontend
node_modules/
.next/
.turbo/
npm-debug.log
yarn.lock
pnpm-lock.yaml
.env.local

# Test / Coverage
.coverage
coverage/
*.cover
*.lcov

# General build / dist / logs
dist/
build/
*.log

# IDE / Editor specific
.vscode/
.idea/
*.suo
*.ntvs*.*
*.njsproj
*.sln
*.sublime-project
*.sublime-workspace

# Helm
*.tgz
charts/efs-provisioner-*.tgz

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Operating system files
.DS_Store
Thumbs.db 