# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environments
.env
.venv
venv/
ENV/
env/

# IDE / Editor specific
.vscode/
.idea/
*.suo
*.ntvs*.*
*.njsproj
*.sln
*.sublime-project
*.sublime-workspace

# Helm
*.tgz
charts/efs-provisioner-*.tgz

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Operating system files
.DS_Store
Thumbs.db 